<?xml version="1.0"?>
<!--
Copyright 2019 Woods Hole Oceanographic Institution

Redistribution and use in source and binary forms, with or without
modification, are permitted provided that the following conditions are met:

1. Redistributions of source code must retain the above copyright notice,
   this list of conditions and the following disclaimer.

2. Redistributions in binary form must reproduce the above copyright notice,
   this list of conditions and the following disclaimer in the documentation
   and/or other materials provided with the distribution.

3. Neither the name of the copyright holder nor the names of its contributors
   may be used to endorse or promote products derived from this software
   without specific prior written permission.

THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS"
AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE
IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE
ARE DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT HOLDER OR CONTRIBUTORS BE
LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR
CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF
SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS
INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN
CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE)
ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE
POSSIBILITY OF SUCH DAMAGE.
-->
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

<xacro:macro name="norbitWBMS_bathy_sim" params="name parent_link xyz rpy robot_namespace topic">

  <gazebo reference="${name}_link">
    <material>Gazebo/Black</material>
  </gazebo>

  <!-- Gazebo plugin to actually take measurements! -->
    <gazebo reference="${parent_link}">
        <sensor name="${name}_sensor" type="ray">
            <always_on>1</always_on>
            <pose frame="">${xyz} ${rpy}</pose>
            <visualize>true</visualize>
            <update_rate>5</update_rate>
            <ray>
                <!-- These are our beams.  They're limited equi-angular, but the distinction probably
                     doesn't matter -->
                <scan>
                    <horizontal>
                        <!-- Ok, so this is kinda screwy and backwards, but follow along.
                        samples: The number of rays that are actually cast internally.  We'd
                        like to cast rays at roughly 1 degree increments, because we'd like to encourage
                        some statistical dependence between beams.

                        So, we'll go with 128 samples- roughly 1 degree- then upsample by 2 to get
                        256 actual beams.

                        This is backwards from the sensible way to design the config, but
                        hey, gazebo.
                        -->
                        <samples>128</samples>
                        <resolution>2.0</resolution>
                        <min_angle>-${pi/180*60}</min_angle>
                        <max_angle>${pi/180*60}</max_angle>
                    </horizontal>
                </scan>
                <range>
                    <min>0.2</min>
                    <max>275</max>
                    <resolution>0.01</resolution>
                </range>
            </ray>
            <!--
            <plugin name="${name}_sensor_controller" filename="libgazebo_ros_laser.so">
                <topicName>${topic}</topicName>
                <frameName>${name}_link</frameName>
            </plugin>
            -->
            <plugin name="${name}_sensor_controller" filename="libdsros_ros_reson.so">
                <robotNamespace>${robot_namespace}</robotNamespace>
                <topicName>${topic}</topicName>
                <frameName>${name}_link</frameName>
                <updateRateHZ>5.0</updateRateHZ>
                <gaussianNoise>0.0</gaussianNoise>
            </plugin>
    </sensor>
  </gazebo>
</xacro:macro>

</robot>